@use "colors";

:host {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: colors.$pd-background-color;
  color: colors.$pd-text-color-light;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

.room-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: .75rem;
  max-width: 48rem;
  width: 100%;
  min-height: calc(100vh - 2rem);
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1;
  min-height: 0;
}
.tab-content {
  padding-top: 1rem;
  flex: 1;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-top: 1px solid colors.$pd-element-background-color;
  padding: 0.5rem 0;
  position: sticky;
  bottom: 0;
  background: colors.$pd-background-color;
  margin-top: auto;
}

.tab-button {
  padding: 0.6rem 1.25rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-top: 3px solid transparent;
  color: colors.$pd-subtle-text-color;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  margin-top: -3px; // Align with the top border

  &:hover {
    background-color: colors.$pd-background-color-alt;
    color: colors.$pd-text-color;
  }

  &.active {
    color: colors.$pd-primary-amber;
    border-top-color: colors.$pd-primary-amber;
  }
}

.detail-item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  border-top: 1px solid colors.$pd-card-background-color;
  padding-top: 1rem;
}

.detail-label {
  color: colors.$pd-subtle-text-color;
  font-weight: 500;
}

.detail-value {
  color: colors.$pd-text-color;
  font-weight: 600;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-contents {
  gap: 1rem;
}
