@use "colors";

:host {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: colors.$pd-background-color;
  color: colors.$pd-text-color-light;
  padding: 1rem;
  font-family: "Inter", sans-serif;
}

.room-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1.5rem;
  max-width: 48rem;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}
.tab-content {
  padding-top: 1rem;
}

.tabs {
  display: flex;
  border-bottom: 1px solid colors.$pd-element-background-color;
  margin-bottom: -1px; // Overlap the content border
}

.tab-button {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
  color: colors.$pd-subtle-text-color;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  margin-bottom: -2px; // Align with the content border

  &:hover {
    background-color: colors.$pd-background-color-alt;
    color: colors.$pd-text-color;
  }

  &.active {
    color: colors.$pd-primary-amber;
    border-bottom-color: colors.$pd-primary-amber;
  }
}

.detail-item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  border-top: 1px solid colors.$pd-card-background-color;
  padding-top: 1rem;
}

.detail-label {
  color: colors.$pd-subtle-text-color;
  font-weight: 500;
}

.detail-value {
  color: colors.$pd-text-color;
  font-weight: 600;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.modal-contents {
  gap: 1rem;
}
