<!-- "Guest Gate" Modal (no changes) -->
@if (showJoinModal()) {
  <pd-join-room-modal
    [roomName]="room()!.name"
    (joinRoom)="handleJoinRoom($event)"
  />
}

<!-- The main room content -->
<div class="room-container">
  @if (room() && guest()) {
    <!-- Room and User Info Card (no changes) -->
    <pd-room-header
      [room]="room()!"
      [guest]="guest()!"
      (guestUpdated)="handleGuestUpdate($event)"
    ></pd-room-header>

    <!-- Main content area for lobby/menu -->
    <div class="content">
      <div class="tabs">
        <button
          class="tab-button"
          [class.active]="view() === 'menu'"
          (click)="navigate('menu')"
        >
          Menu
        </button>
        <button
          class="tab-button"
          [class.active]="view() === 'orders'"
          (click)="navigate('orders')"
        >
          Your Orders
        </button>
      </div>
      <div class="tab-content">
        @switch (view()) {
          @case ("orders") {
            <pd-order-view
              [room]="room()!"
              [orders]="orders()"
              (openMenu)="navigate('menu')"
              (viewOrder)="viewOrderDetails($event)"
            ></pd-order-view>
          }
          @case ("menu") {
            <pd-menu
              [room]="room()!"
              (viewDrink)="viewDrinkDetails($event)"
            ></pd-menu>
          }
        }
      </div>
    </div>
  } @else if (!showJoinModal()) {
    <!-- Loading state -->
    <div class="main-info-card loading-card">
      <h1 class="section-title">Loading Room...</h1>
    </div>
  }
</div>

@if (selectedOrder(); as order) {
  <pd-order-dialog
    [order]="order"
    [drink]="order.drink"
    [roomId]="room().id"
    [guestId]="guest().id"
    (close)="closeOrderModal($event)"
  ></pd-order-dialog>
}

@if (selectedDrink(); as drink) {
  <pd-order-dialog
    [drink]="selectedDrink()"
    [roomId]="room().id"
    [guestId]="guest().id"
    (close)="closeOrderModal($event)"
  ></pd-order-dialog>
}
