$pd-primary-blue: #60a5fa;
$pd-secondary-blue: #93c5fd;
$pd-primary-green: #4ade80;
$pd-secondary-green: #16a34a;
$pd-background-color: #111827;
$pd-card-background-color: #374151;
$pd-text-color: #e5e7eb;
$pd-subtle-text-color: #9ca3af;
$pd-primary-green-hover: #15803d;
