@use "colors";
@use "tonic/styles/tokens" as tonic;

.profile-picture-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.profile-picture {
  width: 8rem;
  height: 8rem;
  border-radius: 9999px;
  object-fit: cover;
  border: 4px solid tonic.color("neutral", "500");
  box-shadow: tonic.shadow("300");
}
