<div class="welcome-page-container">
  <div class="card-container">
    <!-- Join Room Section -->
    <div class="join-room-card">
      <h2 class="section-title">Join a Room</h2>
      <p class="section-description">
        Enter a room code to join an existing session.
      </p>
      <input
        type="text"
        placeholder="Enter Your Name"
        class="room-input"
        [(ngModel)]="guestName"
      />
      <input
        type="text"
        placeholder="Enter Room Code"
        class="room-input"
        [(ngModel)]="roomCode"
      />

      <button class="pd-button" (click)="joinRoom()">Join</button>
    </div>

    <!-- Create Room Section -->
    <div class="create-room-card">
      <h2 class="section-title">Create a Room</h2>
      <p class="section-description">
        Start a new session and get a unique room code.
      </p>
      <button class="pd-button secondary" (click)="openCreateRoomModal()">
        Create
      </button>
    </div>
  </div>
</div>

<!-- Create Room Modal -->
@if (showCreateRoomModal()) {
  <pd-create-room-modal
    (closeModal)="closeCreateRoomModal()"
    (createRoom)="createRoom($event)"
  ></pd-create-room-modal>
}
