<tonic-modal>
  <div modal-header>
    <h2 class="modal-title">Join "{{ roomName() }}"</h2>
  </div>

  <div class="modal-body">
    <p class="modal-description">
      To join the room and place orders, please enter your name below.
    </p>
    <input
      type="text"
      placeholder="Enter Your Name"
      class="pd-input"
      [(ngModel)]="guestName"
      (keyup.enter)="guestName() && joinRoom.emit(guestName())"
    />
  </div>

  <div modal-footer class="modal-actions">
    <button
      class="pd-button"
      (click)="joinRoom.emit(guestName())"
      [disabled]="!guestName()"
    >
      Join Room
    </button>
  </div>
</tonic-modal>
