@use "colors" as colors;

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;

  .left-content {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;    
  }

  .right-content {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.title-and-share {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
}

.section-description {
  color: colors.$pd-subtle-text-color;
  font-size: 1rem;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex-shrink: 0; /* Prevent the profile from shrinking */
  position: relative;
}

.profile-photo-button {
  background: none;
  border: none;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  line-height: 0; /* Prevents extra space around the img */
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

.profile-photo-button .profile-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  object-fit: cover;
  border: 2px solid colors.$pd-accent-green;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.user-name {
  font-weight: 600;
  color: colors.$pd-subtle-text-color-alt;
  display: none;
}

@media (min-width: 640px) {
  .user-name {
    display: inline;
  }
}

.share-button {
  background: none;
  border: none;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent; // This removes the tap highlight on mobile

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
