<pd-modal class="modal" (close)="closeModal.emit()">
  <h2 class="modal-title">Create New Room</h2>
  <div class="modal-body">
    <div class="form-group">
      <label for="room-name" class="form-label">Room Name</label>
      <input
        id="room-name"
        type="text"
        class="pd-input"
        placeholder="e.g. 'Party Time!'"
        [(ngModel)]="newRoomName"
        (keyup.enter)="newRoomName() && onCreateClick()"
      />
    </div>
    <div class="form-group">
      <label for="room-description" class="form-label"
        >Description (optional)</label
      >
      <textarea
        id="room-description"
        class="pd-input"
        placeholder="e.g. 'Drinks for my birthday party!'"
        [(ngModel)]="newRoomDescription"
      ></textarea>
    </div>
  </div>
  <div class="modal-actions">
    <button class="pd-button secondary" (click)="closeModal.emit()">
      Cancel
    </button>
    <button
      class="pd-button accent"
      (click)="onCreateClick()"
      [disabled]="!newRoomName()"
    >
      Create
    </button>
  </div>
</pd-modal>
